<section  $fragment_count class="ONLY_TITLE_PARAGRAPH" $header>
					<h1 data-slide_id='$slide.getId()' data-element_type='TITLE' class='edit'>$slide.getTitle().getText()</h1>
						
						#if(!$slide.getParagraph().getText().isEmpty())
					<div  data-slide_id='$slide.getId()' data-element_type='PHARAGRAPH' class='edit_phara'>$slide.getParagraph().getText() </div>
					    #end
					   
					   <aside class="notes">
		                 $slide.getTeacherNotes()
	                </aside>
				</section>