<section  $fragment_count class="ONLY_TITLE_LIST_NUMBERED" $header>
					 <h1  data-slide_id='$slide.getId()' data-element_type='TITLE' class="edit">$slide.getTitle().getText()</h1>
					<ol>
					#foreach( $item in $slide.getList().getItems() )

#if(!$item.getText().isEmpty())
						<li data-slide_id='$slide.getId()' data-element_type='LIST' class="fragment fade-up edit"  data-fragment-index="$foreach.index" >$item.getText()</li>
						 #end
	 	 #end
					</ol>
					<aside class="notes">
		                 $slide.getTeacherNotes()
	                </aside>
				</section>